.alert {
    padding: 20px;
    color: white;
    position: absolute;
    width: 60%;
    top: 1%;
    font-size: 1.7rem;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 1000;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@keyframes fadein {
    from {top: 0; opacity: 0;}
    to {top: 1%; opacity: 1;}
}

.success {
    background-color: #4CAF50;
}

.error {
    background-color: #f44336;
}

.info {
    background-color: #2196F3;
}
  
.closebtn {
margin-left: 15px;
color: white;
font-weight: bold;
float: right;
font-size: 22px;
line-height: 20px;
cursor: pointer;
transition: 0.3s;
}
.closebtn:hover {
color: black;
}