.click-cards{
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    margin: 10px 20px;
}

.click-card{
    /* border: 1px solid blue; */
    background-color: #339af0;
    width: 230px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.click-card-title{
    height: 35%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #339af0;
    padding: 3px 7px;
}

.click-card-title p{
    font-size: 1.4rem;
    letter-spacing: 2.4px;
    color: #fff;
}

.click-card-content{
    height: 65%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.7rem;
    color: #fff;
}

.clicks-tag{
    background-color: #339af0;
    font-size: 1.4rem;
    border-radius: 3px;
    padding: 0 5px;
    /* align-self: flex-end; */
    color: #fff;
}

.export{
    margin: 20px;

    /* border: 1px solid red; */
    display: flex;
    align-items: center;
}

.export button{
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 5px;
    background-color: #7b0bc051;
    color: #ccc;
    font-size: 1.4rem;
    cursor: pointer;
    outline: none;
    font-weight: bold;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.908);
    transition: all 0.2s ease-in;
    display: flex;
    align-items: center;
    padding: 0 8px;
}

.export button p{
    margin: 0;
    padding: 0;
}

.export button img{
    width: 25px;
    height: 25px;
    /* margin-right: 5px; */
}

.export :last-child{
    margin-left: 30px;
}

.export button:hover{
    background-color: #7b0bc0a9;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.908);
}